FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
BACKEND_URL=http://localhost:3001
APPLE_PRIVATE_KEY=
APPLE_CLIENT_ID=
HOST_DB=
HOST_DB_PORT=
DB_UNAME=
DB_UPASS=
DB_NAME=
JWT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=