@font-face {
    font-family: "Elemental End";
    src: url("/Buyer/public/fonts/elemental-end.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  .custom-font {
    font-family: "Elemental End", sans-serif;
  }
  